{% extends "admin/change_list.html" %} {% load humanize %} {% block content_title %}
<h1> Product Counter Summary </h1>
<style>
        .bar-chart {
            display: flex;
            justify-content: space-around;
            height: 160px;
            padding-top: 60px;
            overflow: hidden;
        }

        .bar-chart .bar {
            flex: 100%;
            align-self: flex-end;
            margin-right: 2px;
            position: relative;
            background-color: #79aec8;
        }

        .bar-chart .bar:last-child {
            margin: 0;
        }

        .bar-chart .bar:hover {
            background-color: #417690;
        }

        .bar-chart .bar .bar-tooltip {
            position: relative;
            z-index: 999;
        }

        .bar-chart .bar .bar-tooltip {
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-weight: bold;
            opacity: 0;
        }

        .bar-chart .bar:hover .bar-tooltip {
            opacity: 1;
        }
    </style>
{% endblock %} {% block result_list %}
<div class="results">
    <table>
        <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">Product Name</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Start Time</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">End Time</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">
                            <strong>Displayed</strong>
                        </a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">
                            <strong>Wasted</strong>
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in summary %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ row.product__name }} </td>
                <td> {{ row.start_datetime|date:"d-m-Y h:m:s" }} </td>
                <td> {{ row.end_datetime|date:"d-m-Y h:m:s" }} </td>
                <td> {{ row.displayed_item|intcomma }} </td>
                <td> {{ row.wasted_item|intcomma }} </td>
            </tr>
            {% endfor %}
            <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                <td></td>
                <td></td>
                <td> Total </td>
                <td> {{ summary_total.displayed_sum|default:0|intcomma }} </td>
                <td> {{ summary_total.wasted_sum|default:0|intcomma }} </td>
            </tr>
        </tbody>

    </table>
</div>
<!--
<div class="results">
    <div class="bar-chart">
        {% for x in summary_over_time %}
        <div class="bar" style="height:{{x.pct}}%">
            <div class="bar-tooltip">
                {{x.total | default:0 | intcomma }}
                <br> {{x.period | date:"d/m/Y"}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
-->
{% endblock %} {% block pagination %}{% endblock %}